@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap');
@import url('//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft');
@font-face {
    font-family: "Minecraft";
    src: url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.svg#Minecraft") 
    format("svg");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('img/background.png');
    background-attachment: fixed;
    font-family: 'Changa';
}

.back{
    background: #00bd00;
    font-size: 20px;
    padding: 13px;
    font-family: 'Minecraft';
    border-radius: 5px;
    color: #fff;
    transition: .3s;
    text-decoration: none;
    box-shadow: 0 5px 0px #009100;
    margin: 30px;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 0px #00000076;
}

.back:hover{
    background: #008000;
    box-shadow: 0 5px 0px #005a00;
}

.back:active{
    transform: translateY(5px);
    box-shadow: none;
}

.inicio{
    text-align: center;
    margin-top: 50px;
}

.inicio img{
    width: 400px;
    height: 100px;
    filter: drop-shadow(0 0 15px #00000080);
}

.inicio h1{
    color: #ffffff;
    font-size: 80px;
    text-shadow: 0 0 20px #000000e9;
}

.ip{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ip p{
    background-image: radial-gradient(#87cefa , #008efa);
    color: #fff;
    padding: 13px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 15px #008efa;
    display: inline-block;
    margin-top: 5px;
}

.minimenu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Changa';
}

.minimenu span{
    font-size: 100px;
}

.minimenu a{
    margin: 10px;
    font-size: 30px;
    padding: 13px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 5px transparent;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px #000000c6);
    transition: all .3s;
}

.minimenu a:hover{
    background-color: #008efa5e;
    box-shadow: 0 5px #006ec25e;
}

.minimenu a:hover img{
    transform: translateY(-5px);
}

.minimenu a:active{
    transition: none;
    box-shadow: none;
    transform: translateY(5px)
}

.minimenu a img{
    width: 150px;
    height: 150px;
    transition: .5s;
}

footer{
    background-color: #008efa5e;
    color: #fff;
    padding: 13px;
    text-align: center;
}

.titlect{
    background: #00000076;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
    text-shadow: 0 0 10px #00000076;
}

.titlect img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    filter: drop-shadow(0 0 10px #00000076)
}

.reglas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 20px;
}

.reglas div{
    background-color: #232323;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.reglas h1{
    text-align: center;
    background-color: #1d1d1d;
    padding: 5px;
    margin-bottom: 9px;
    border-radius: 5px;
}

.reglas li{
    background-color: #1d1d1d;
    padding: 5px;
    list-style: none;
    margin-top: 5px;
    border-radius: 5px;
}

.plugins{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Changa';
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    background: #00000076;
}

.plugin{
    background-color: #0000008a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    font-size: 80px;
    font-family: 'Minecraft';
    text-shadow: 10px 10px 0px #00000076;
}

.plugin img{
    max-width: 800px;
    height: 80px;
    image-rendering: crisp-edges;
}

.typecommand{
    background-color: #00000063;
    text-align: center;
    font-family: 'Minecraft';
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 0px #00000076;
}

.typecommand img{
    max-width: 180px;
    height: 44px;
}

.preguntas{
    text-align: left;
    color: #fff;
    padding: 50px 100px;
    filter: drop-shadow(0 0 15px #00000076);
    font-family: 'Trebuchet MS';
    font-size: 15px;
}

.preguntas div{
    background: #00000076;
    padding: 20px;
    border-radius: 20px;
}

.preguntas div p{
    font-size: 20px;
    margin-top: 5px;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


.tp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.tp a{
    background-image: radial-gradient(#90ee90 , #008000);
    color: #fff;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 15px #008000;
    transition: .3s;
}

.tp a:hover{
    transform: translateY(-5px);
}

.tpinicio{
    background: #00000076;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.tpdownload{
    background: #00000076;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #fff;
    flex-direction: column;
}

.tpdownload a{
    background: #00bd00;
    font-size: 20px;
    padding: 13px;
    border-radius: 5px;
    color: #fff;
    transition: .3s;
    text-decoration: none;
    box-shadow: 0 5px 0px #009100;
    margin: 10px;
}

.tpdownload a:hover{
    background: #008000;
    box-shadow: 0 5px 0px #005a00;
}

.tpdownload a:active{
    transform: translateY(5px);
    box-shadow: none;
}

.tpdownload iframe{
    margin-top: 12px;
}

.footer{
    text-align: center;
    color: #fff;
    padding: 20px;
}

.footer li{
    list-style: none;
}

.footer a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    margin-right: 20px;
}

.footer a:hover{
    filter: drop-shadow(0 0 5px #ffffffd2);
}

.eventos{
    background: #00000076;
    text-align: center;
    color: #fff;
    font-family: 'Changa';
    font-size: 50px;
}

.rangos{
    background: #00000076;
    font-family: 'Minecraft';
    color: #fff;
    text-shadow: 5px 5px 0px #00000075;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    animation: ranimation 2s;
    transition: .3s;
}

@keyframes ranimation{

    0%,

    50%{
        transform: translateY(-120px)
    }

    100%{
        transform: translateY(0px)
    }

}

.rango{
    font-family: 'Minecraft';
    font-size: 20px;
    text-shadow: 3px 3px 0px #00000075;
    margin: 10px;
    text-align: center;
}

.rango p{
    color: #fff;
    text-shadow: 2px 2px 0px #00000075;
}

.rango a{
    color: #55FF55;
    transition: .3s;
}